.nav {
    &__list {
        display: flex;
    }
    &__item {
        &:not(:last-child) {
            margin-right: 43px;
        }
    }
    &__link {
        padding-bottom: 8px;
        border-bottom: 1px dashed var(--dark-color);
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: var(--main-color);
    }
}
