@import "./mixins/adaptive-value";
.nav {
    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__item {}
    &__link {
        font-weight: 500;
        @include adaptive-value("font-size", 20, 14);
        line-height: 24px;
        color: var(--main-color);
    }
}
