<nav class="bottom-header__nav bottom-nav">
    <ul class="bottom-nav__list">
        <li class="bottom-nav__item">
            <a href="" class="bottom-nav__link">Комплексная поставка</a>
        </li>
        <li class="bottom-nav__item">
            <a href="" class="bottom-nav__link">Пуско-наладка IT-оборудования</a>
        </li>
        <li class="bottom-nav__item">
            <a href="" class="bottom-nav__link">Аудит и оптимизация парка печати</a>
        </li>
        <li class="bottom-nav__item">
            <a href="" class="bottom-nav__link">Тендеры</a>
        </li>
    </ul>
</nav>