<div class="center-header__row">
    <div class="center-header__left">
        <form action="#" class="header-search">
            <label class="header-search__label">
                <input type="text" class="header-search__input" placeholder="Поиск">
                <svg class="header-search__icon">
                    <use xlink:href="img/sprite.svg#search"></use>
                </svg>
            </label>
        </form>
    </div>
    <div class="center-header__right">
        <div class="center-header__actions center-actions">
            <a href="#" class="center-actions__link center-actions__link--sm center-actions__link--whatsapp">
                Напишите нам <br> в Whats APP
            </a>
            <a href="#" class="center-actions__link center-actions__link--convert">
                <svg class="center-actions__icon">
                    <use xlink:href="img/sprite.svg#convert"></use>
                </svg> mail@svs93.ru
            </a>
            <a href="#" class="center-actions__link center-actions__link--last">
                <svg class="center-actions__icon center-actions__icon--location">
                    <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                <span class="center-actions__link-wrapper">
                    <span>г. Жуковский</span> ул. Московская, 1
                </span>
            </a>
        </div>
    </div>
</div>
