/* stylelint-disable */

@mixin burger {
    --burger-width: 42px;
    --burger-height: 37.2px;
    --burger-line-height: 8.4px;
    --burger-line-background: #FFAF37;
    position: relative;
    border: none;
    padding: 0;
    width: var(--burger-width);
    height: var(--burger-height);
    color: #000;
    background-color: transparent;
    cursor: pointer;
    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: var(--burger-line-height);
        background-color: var(--burger-line-background);
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
        border-radius: 6px;
    }
    &::before {
        top: 0;
    }
    &::after {
        top: calc(100% - var(--burger-line-height));
    }
    &__line {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: var(--burger-line-height);
        background-color: var(--burger-line-background);
        transform: translateY(-50%);
        border-radius: 6px;
        transition: transform 0.3s ease-in-out;
    }
    &--active {
        &::before {
            top: 50%;
            transform: rotate(45deg);
            transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
        }
        &::after {
            top: 50%;
            transform: rotate(-45deg);
            transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
        }
        .burger__line {
            transform: scale(0);
            transition: transform 0.3s ease-in-out;
        }
    }
}
