.center-header {
    &__row {
        @media (min-width: 993px) {
            display: flex;
            justify-content: space-between;
        }
    }
    &__left {
        width: 100%;
        @media (min-width: 993px) {
            @include adaptive-value('max-width', 685, 300);
        }
        @media (max-width: 993px) {
            margin-bottom: 15px;
        }
    }
}

.center-actions {
    display: flex;
    align-items: center;
    @media (max-width: 993px) {
        justify-content: space-evenly;
    }
    @include adaptive-value('gap', 74, 0);
    &__link {
        position: relative;
        display: inline-flex;
        align-items: center;
        font-weight: 500;
        @include adaptive-value('font-size', 18, 14);
        color: var(--main-color);
        &--sm {
            font-size: 14px;
            text-align: center;
        }
        &--whatsapp {
            padding-left: 37px;
            @include adaptive-value('padding-left', 37, 25);
            &::before {
                content: "";
                position: absolute;
                top: 2px;
                left: -1px;
                width: 24px;
                height: 24px;
                background: url("../img/whatsapp.png") center no-repeat;
                background-size: contain;
            }
        }
        &--last {
            font-family: var(--second-font);
        }
    }
    &__link-wrapper {
        font-family: var(--second-font);
        @include adaptive-value('font-size',
        16,
        14);
        span {
            display: block;
            line-height: 30px;
            @include adaptive-value('font-size',
            20,
            14);
        }
    }
    &__icon {
        margin-top: 1px;
        margin-right: 9px;
        width: 24px;
        height: 18px;
        fill: var(--accent-color);
        &--location {
            width: 20px;
            height: 27px;
            margin-right: 8px;
        }
    }
}
