.header-search {
    &__label {
        display: block;
        position: relative;
    }
    &__icon {
        position: absolute;
        top: 10px;
        right: 25px;
        width: 20px;
        height: 20px;
    }
    &__input {
        min-height: 40px;
        width: 100%;
        padding-top: 0;
        @include adaptive-value('padding-left', 26, 0);
        &::placeholder {
            font-size: 14px;
            line-height: 21px;
            color: var(--main-color);
        }
    }
}