.header-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    grid-column: 4/-1;
    @media (max-width: 993px) {
        grid-row: 1;
    }
    @media (max-width: 769px) {
        justify-content: flex-end;
    }
    &__actions {
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        @media (max-width: 1030px) {
            flex-direction: column;
            align-items: flex-end;
        }
    }
    &__text {
        margin: 0;
        width: 100%;
        @include adaptive-value('max-width', 403, 200);
        @include adaptive-value('font-size', 18, 12);
        line-height: 21px;
        @media (max-width: 769px) {
            display: none;
        }
    }
    &__phone {
        position: relative;
        display: inline-block;
        font-family: var(--second-font);
        font-weight: 700;
        @include adaptive-value('font-size', 30, 18);
        line-height: 37px;
        color: var(--main-color);
        @media (min-width: 993px) {
            @include adaptive-value('margin-right', 19, 10);
        }
        @media (max-width: 993px) {
            margin-bottom: 5px;
        }
        @include adaptive-value('padding-left', 40, 20);
        &::before {
            content: "";
            width: 30px;
            height: 30px;
            position: absolute;
            left: -1px;
            top: 3px;
            background: url("../img/svg/phone.svg") center no-repeat;
            background-size: cover;
            @media (max-width: 769px) {
                left: -10px;
            }
        }
    }
    &__button {
        cursor: pointer;
        display: inline-block;
        @include adaptive-value('padding-left',
        30,
        15);
        @include adaptive-value('padding-right',
        30,
        15);
        background: var(--accent-color);
        color: var(--light-color);
        font-weight: 700;
        @include adaptive-value('font-size',
        18,
        16);
        line-height: 21px;
        min-height: 37px;
        text-transform: uppercase;
        @media (max-width: 540px) {
            max-width: 208px;
            width: 100%;
        }
    }
}
