.top-header {
    &__row {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 80px;
        @media (max-width: 993px) {
            padding-top: 10px;
            align-items: center;
        }
    }
    &__left {
        padding-right: 20px;
        grid-column: 3 span;
    }
    &__nav {
        grid-column: 9 span;
        padding-top: 15px;
        @media (max-width: 993px) {
            grid-column: 12 span;
            padding-top: 20px;
        }
    }
}