<header class="header">
    <div class="header__top top-header">
        <div class="container top-header__container">
            @include('components/_top-header.html')
        </div>
    </div>
    <div class="header__center center-header">
        <div class="container center-header__container">
            @include('components/_center-header.html')
        </div>
    </div>
    <div class="header__bottom bottom-header">
        <div class="bottom-header__container">
            @include('components/_bottom-header.html')
        </div>
    </div>
</header>
